
}

.div{margin-right: 200px;}

a{
    font-size: 40px;
    transition: 500ms;
}
a:hover{color:brown}



.animate{
    height:60px;
    width:200px;
    background-color:chartreuse;
    transition: 300ms;
}
animate:hover{
    width: 300px;
    background-color: darkblue;
}

button{font-size: 18px;
       color: darkorange;
       font-weight: bolder;
       padding: 15px;
       margin-left: 500px;
       font-style: italic;
       border-radius:999px ;
       border: 12px solid rgb(228, 214, 16);    
    transition: 1s;
}

button:hover{
    background-color: rgb(11, 3, 15);
    color: darkturquoise;
}
button:active{background-color:palevioletred;}
              text-align: center

.beef{position:absolute;
    top:100px;
    text-align :center;
    background-color: peru;

}
body{
    background-image : url("balloon.jpg");
    background-repeat : no-repeat;
    margin-left: auto;
    margin-bottom:ato ;
    background-position: center;
}